/* Define application theme */

dwc-app-layout {
  --dwc-app-layout-header-height: 60px;
  --dwc-app-layout-footer-width: 60px;
}

.app-nav dwc-tab::part(tab-wrapper) {
  display: flex;
  flex-direction: column;
  gap: 0;
  min-width: 100px;
}

.app-nav dwc-tab::part(prefix) {
  --dwc-icon-size: 2em;
  cursor: pointer;
}

.app-nav dwc-tab[active]::part(prefix) {
  color: var(--dwc-color-primary);
}

.main-layout {
  /* overflow: scroll; */
}

.main-class {
  max-width: 1500px;
  gap: var(--dwc-space-m);
  margin: 5px auto;
  overflow: visible !important;
  padding-bottom: 50vh;
}

.main-layout::part(content) {
  padding: 16px 0;
}

.header-logo{
  position: absolute;
  top: 16px;
  left: 16px;
  width: 150px;
  height: 36px;
}

/************* Home CSS *************/

.home__title {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.home__subtitle {
  margin: 0;
  font-size: 1.5em;
  max-width: 60%;
  text-align: center;
}

.example-program {
  background: var(--dwc-surface-3);
  position: relative;
  width: 300px;
  height: 568px;
  margin: 20px auto;
  border: 1px solid black;
  box-shadow: 0 0 0 10px black, 0 3px 22px black;
  border-radius: 32px;
  overflow: hidden;
  padding: var(--dwc-space-s) 0;
  padding-bottom: 0;
  margin-top: calc(var(--dwc-font-size-2xl) + 0.75em);
}

/************* Dashboard Styles *************/

.dashboard__counters-wrapper {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  gap: var(--dwc-space-m);
  overflow: visible !important;
}

/** [animated-counter] is the container of the animated-counter component */
.dashboard__counters-wrapper [animated-counter] {
  flex: 1 1 24%;
}

.dashboard-section{
  padding: var(--dwc-space-m);
  border-radius: var(--dwc-border-radius-m);
  background-color: var(--dwc-surface-3);
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--dwc-space-m);
  padding: var(--dwc-space-m);
  border-radius: var(--dwc-border-radius-m);
  background-color: var(--dwc-surface-3);
  box-shadow: var(--dwc-shadow-1);
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: var(--dwc-space-m);
  font-size: var(--dwc-font-size-l);
  font-weight: bold;
}

/* ==Charts== */

.dashboard-chart{
  flex: 1 1 48%;
  min-width: 320px;
  padding: var(--dwc-space-m);
  border-radius: var(--dwc-border-radius-m);
  background-color: var(--dwc-surface-3);
}

/* ==Product Table== */

.table::part(avatar-renderer) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table::part(avatar-img) {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.table::part(avatar-text) {
  display: flex;
  flex-direction: column;
}

/* ==Team Cards==*/
.teamcard__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--dwc-space-m);
  width: 100%;
}

.team__card {
  background-color: var(--dwc-surface-3);
  border-radius: var(--dwc-border-radius-m);
  padding: var(--dwc-space-2xl) var(--dwc-space-xl);
  display: flex;
  flex: 1 1 40%;
  gap: 1.5rem;
  align-items: center;
  flex-direction: row;
  transition: background-color 0.25s ease;
}

.team__card.is-active {
  background-color: #7db1ff;
}

.team__card:hover {
  background-color: #abccfd;
  cursor: pointer;
}

.team__avatar {
  width: var(--dwc-size-2xl);
  border-radius: var(--dwc-border-radius-round);
}

.team__username {
  color: var(--dwc-color-black);
  font-size: var(--dwc-font-size-l);
}

.team__position {
  color: var(--dwc-color-gray-50);
}

.button__team-card-close:hover {
  cursor: pointer;
}

/* ==Todo List==*/

.card__todo {
  max-height: 450px;
  margin-bottom: 35px;
  width: 50%;
}

.todo__toolbar {
  display: flex;
  align-items: center;
  gap: var(--dwc-space-s);
  overflow: visible !important;
  border-bottom: 1px solid var(--dwc-color-default) !important;
  padding-bottom: var(--dwc-space-m);
}

.todo__remainingItems {
  flex: 1;
}

.todo__input-wrapper {
  display: flex;
  align-items: center;
  gap: var(--dwc-space-s);
  overflow: visible !important;
}

.todo__input {
  flex: 1 1 100%;
}

.todo__list {
  display: flex;
  flex-direction: column;
  gap: var(--dwc-space-s);
  flex: 1;
  max-height: 262px;
  overflow: auto !important;
}

.todo__item[checked] {
  text-decoration: line-through;
}

/* ==Inbox Widget== */
  .card--inbox {
    max-height: 450px;
    margin-bottom: 35px;
    width: 50%;
  }
  
  .card__messagesWrapper {
    overflow: auto !important;
  }
  
  .card__message {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: var(--dwc-space-s);
    cursor: var(--dwc-cursor-click);
    transition: background-color var(--dwc-transition);
    border-bottom: thin solid var(--dwc-color-default);
    border-radius: var(--dwc-border-radius);
  }
  
  .card__message:last-child {
    border-bottom: none !important;
    border-style: none !important;
  }
  
  .card__message:hover {
    background-color: var(--dwc-color-primary-alt);
  }
  
  .card__messageAvatar {
    display: flex;
    align-items: center;
    width: var(--dwc-size-l);
    height: var(--dwc-size-l);
    border-radius: var(--dwc-border-radius-round);
  }
  
  .card__messageAvatar img {
    width: 100%;
    height: 100%;
    border-radius: var(--dwc-border-radius-round);
  }
  
  .card__messageWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .card__messageContent {
    font-size: var(--dwc-font-size-s);
    color: var(--dwc-color-gray-text);
  }
  
  .dialog--reply .dialog__content {
    display: flex;
    flex-direction: column;
    gap: var(--dwc-space-m);
  }

  .dialog--reply::part(dialog) {
    padding-bottom: 3px;
  }

  .dialog--reply::slot(header) {
    border-bottom: none;
  }
  
  .dialog__message::part(input) {
    overflow: visible;
  }

  .button__reply {
    background: rgba(0,0,0,0);
    margin-bottom: 12px;
  }

  .button__reply::part(control) {
    padding: 20px;
  }

  .reply-form__no-subject-warning {
    display: none;
    color: red;
    text-align: center;
    background-color: transparent;

  }
  
  .reply-form-container__no-subject {
    animation-name: horizontal-shaking;
    animation-duration: .3s !important;
    animation-iteration-count: 2 !important;
    animation-timing-function: ease-in-out !important;
  }
  
  @keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
  }

  .message-sent {
    display: flex;
    justify-content: center;
  }

/************* Docs Styles *************/

/* .main-layout::part(content) {
  padding: 0px !important;
} */
